{% extends 'base.html' %}

{% block title %} {{object.title}} {% endblock %}
{% block content %}
    <h1>{{ object.name }}</h1>
    <p><b>{{ object.course_stuff }}</b></p>
    <p><b>Description:</b> {{ object.description }}</p>
    <p><b>Perfect Score:</b> {{ object.perfect_score }}</p>
    <p><b>Passing Score:</b> {{ object.passing_score }}</p>

<form action='edit' method="get" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" value="Edit Assignment">
</form>
{% endblock %}