{% extends 'base.html' %}
{% load static %}
{% block title %}Widget's Assignments{% endblock %}
{% block content %}
<h1>Welcome to Widget's  Assignments!</h1>
{%for object in assignment%}
    <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
    <br>
{%endfor%}
<br>
<form action="/assignments/add" method="get" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" value="New Assignment">
</form>
<a href="/dashboard">Dashboard</a>
<br>
<a href="/announcements">Announcements</a>
<br>
<a href="/forum">Forum</a>
<br>
<a href="/calendar">Calendar</a>
<br>

{% endblock %}