{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1> Add a new post:</h1><br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" value="Save New Post">
{% endblock %}