{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit Post
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1>Edit Post</h1><br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" value="Save Changes to Post">
{% endblock %}