{% extends 'base.html' %}
{% load static %}

{% block title %}
{{object.title}}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<p1>
<h1>{{object.title}}</h1>
by {{object.author.first_name}}, {{object.author.last_name}} 
<br>
{{object.datetime_posted}}
<br>
{{object.body}}
</p1>
<br><br>
<p2>
Post Replies: <br><br>
{% for reply in object.post_replies.all %}
by {{reply.author.first_name}} {{reply.author.last_name}} <br>
{{reply.datetime_posted}} <br>
{{reply.body}} <br>
<br>
{% endfor %}
</p2>
<br>
<a href = "{{object.get_update_url}}"><button>Edit Post</button></a>
{% endblock %}