{% extends 'base.html' %}
{% load static %}

{% block title %}
Widget's Forum
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1>Welcome to Widget's Forum</h1>
<h2>Forum posts:</h2>

<div>
{% for post in posts %}
<a href = "{{post.get_absolute_url}}">"{{post.title}}" by {{post.author.first_name}} {{post.author.last_name}}</a>
<br>
{% endfor %}
<br><br><br>
<a href = "{% url 'forum:addPost' %}"><button>New Post</button></a>
<br><br>
<a href="/dashboard">Dashboard</a>
<br>
<a href="/announcements">Announcements</a>
<br>
<a href="/assignments">Assignments</a>
<br>
<a href="/calendar">Calendar</a>
<br>

{% endblock %}