{% extends 'base.html' %}
{% load static %}

{% block title %}
Widget v2
{% endblock %}

{% block content %}
<h1>Welcome to Widget!</h1>
<h2>Widget Users:</h2>
<ul>
{% for object in users %}
    <li>
        <a href = "{{ object.get_absolute_url }}">{{ object.last_name }}, {{ object.first_name }}</a>
    </li>
{% endfor %}
</ul>
<form action = "http://127.0.0.1:8000/dashboard/widgetusers/add">
    <input type = "submit" value = "Add Widget User" />
</form>
<p>
<a href = "/announcements">Announcements</a>
<a href = "/forum">Forum</a>
<a href = "/assignments">Assignments</a>
<a href = "/calendar">Calendar</a>
</p>
{% endblock %}