{% extends 'base.html' %}


{% block title %}
	Edit Widget User
{% endblock %}


{% block content %}
        <h1>Edit Widget User:</h1>
	{{ form.non_field_errors }}
	{% for field in form %}
		{% if field.errors %}
			<p>{{ field.label }} has the following errors:</p>
			<ul>
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
	
	<form method = "POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input type = "submit" value = "Save Changes to Widget User">
	</form>
			
{% endblock %}