{% extends 'base.html' %}


{% block title %}
{{ object.last_name }}, {{ object.first_name }}
{% endblock %}


	


{% block content %}
<h1>{{ object.first_name }} {{ object.middle_name }} {{ object.last_name }}</h1>
<ul>
    <li>{{ object.department.dept_name }}</li>
    <li>{{ object.department.home_unit }}</li>		
<br>
</ul>
<p>
<button onclick="window.location.href='../../../dashboard/widgetusers/{{object.pk}}/edit';">Edit Widget User</button><br/>
</p>
	
{% endblock %}