{% extends 'base.html' %}

{% block title %} {{myannouncement.title}} {% endblock %}
{% block content %}
    <h1>{{ myannouncement.title }}</h1>
    <p><b> by {{ myannouncement.author.first_name }} {{ myannouncement.author.last_name }}</b></p>
    <p><b>{{ myannouncement.pub_datetime | date:"m/d/Y, h:i A" }}</p>
    <p><b>{{ myannouncement.body }}</p>
    <ul>
    {% for x in reactions %}
            <li>{{ x.name }} {{ x.tally }}</li>
    {% endfor %}
    </ul>

<form action='edit' method="get" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" value="Edit Announcement">
</form>
{% endblock %}
