{% extends 'base.html' %}
{% block title %}Edit Announcement{% endblock %}
{% block content %}
<h1>Edit announcement:</h1>
<form method="post" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}
    <!-- Using the formset -->
    {{ form.as_p }}

    <input type="submit" value="Save Changes to Announcement">
</form>
{% endblock %}
