{% extends 'base.html' %}
{% load static %}
{% block title %}Widget's Announcements{% endblock %}
{% block content %}
<h1>Welcome to Widget's  Announcements!</h1>
{%for object in announcements%}
    <a href="{{ object.pk }}/details">{{ object.title }} by {{ object.author.first_name }} {{ object.author.last_name }}</a>
    <br>
{%endfor%}
<form action="/announcements/add" method="get" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" value="New Announcement">
</form>
<br>
<a href="/dashboard">Dashboard</a>
<br>
<a href="/assignments">Assignments</a>
<br>
<a href="/forum">Forum</a>
<br>
<a href="/calendar">Calendar</a>
<br>

{% endblock %}
