<!-- event details -->
{% extends 'base.html' %}

{% block title %} {{object.activity}} {% endblock %}
{% block content %}
    <h1>{{ object.activity }}</h1>
    <h3>Date and Time: {{ object.target_datetime | date:"m/d/Y, h:i A" }}</h3>
	<h3>Estimated Hours: {{ object.estimated_hours }}</h3>
	<h3>{{ object.course.code }} {{ object.course.title }} - {{ object.course.section }}</h3>
	<h3>Mode: {{ object.location.mode }} </h3>
	<h3>Venue: {{ object.location.venue }}</h3>

<a href="{% url 'calendar_app:event-edit' object.id %}"><button>Edit Activity</button></a>

{% endblock %}
