<!-- event-edit -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Activity{% endblock %}

{% block content %}
{{ form.non_field_errors }}
{% for field in form %}
{% if field.errors %}
<p>{{ field.label }} has the following errors:</p>
<ul>
	{% for error in field.errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endfor %}
Edit activity:
<form method="POST">
	{% csrf_token %}
    {{ form.as_p }}	
    <input type="submit" value="Save New Activity">
</form>
{% endblock %}